.y_axis .tick line {
  stroke: white;
  opacity: 0.7;
  stroke-dasharray: 1px 3px;
}

.y_axis .tick text {
  fill: white;
}

.x_axis .tick text {
  fill: white;
}

.x_axis .tick line {
  stroke: none;
  fill: none;
}

/* CSS for creating a horizontal legend using HTML! */
.legend {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.legend-item {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.legend-dot {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 999999px;
  margin-right: 3px;
}

.legend-label {
  font-weight: 300;
  font-size: 14px;
}

.dot-china {
  background-color: #e78ac3;
}
.dot-japan {
  background-color: rgb(102, 194, 165);
}
.dot-korea {
  background-color: #8da0cb;
}
.dot-taiwan {
  background-color: #fc8d62;
}
