/*Font for the project*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*Set Body Layout*/
body {
  background-color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 20pt;
  padding: 20px 80px 20px 80px;
  max-width: 1500px;
  color: black;
  font-size: 9.5pt;
  font-weight: 400;
  margin: 0 auto;
}

/*Main Header*/
#header1 {
  color: #17252a;
  font-size: 24pt;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 24pt;
  font-weight: 500;
}

/*First Para Heading*/
#header2 {
  color: #bc4639;
}

/*Second Para Heading*/
#header3 {
  color: #116466;
}
/*Third Para Heading*/
#header4 {
  color: #46344e;
}
/*First Para Sub-Heading*/
.FPSubHdng {
  color: #bc4639;
  font-size: 9pt;
  font-weight: bold;
  text-align: center;
}
/*Graph Headings*/
.GHeading {
  text-align: center;
  line-height: 10%;
}

/*by-line and reference*/
#byline {
  color: black;
  font-size: 6pt;
  font-weight: 400;

  /* This gets both reference and by-line on the same horizontal line and at opposite corners of the page */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text_align {
  text-align: justify;
  text-justify: inter-word;
}

.HLine1 {
  display: block;
  height: 1px;
  width: 100%;
  border: 0;
  border-top: 2px solid #bc4639;
  margin: 1em 0;
  padding: 0;
}

.HLine2 {
  display: block;
  height: 2px;
  width: 1520px;
  border: 0;
  border-top: 2px solid #17252a;
  margin: 1em 0;
  padding: 0;
}

.immigration_law_label {
  text-anchor: middle;
  font-size: 9pt;
  font-weight: bold;
  fill: #314455;
}

/* This CSS turns your grid lines to grey */

.y_axis .tick line {
  stroke: #000;
  opacity: 0.3;
}

/* This CSS removes the ticks from your x axis */
.x_axis .tick line {
  stroke: transparent;
  display: none;
}


#map {
  margin-top: -100px;
}
/* Grids for page below */
.Box1 {
  background-color: #fff;
  /*height: 1000px;*/
  /*color: white;*/
}

/*First para space assignment*/
/* This is the CSS for a grid container */
.Grid_Container1 {
  /* this creates a grid   */
  display: grid;
  /* this creates columns   */
  /*grid-template-columns: 1fr 1fr;*/
  grid-template-columns: 1200px auto;
  /* this creates rows   */
  /*grid-template-rows: 1fr 1fr 1fr;%/
  /*  this adds a gap in between columns  */
  column-gap: 15px;
  /* this adds a gap between rows   */
  /*row-gap: 15px;*/
}

/*Second para space assignment*/
/* This is the CSS for a grid container */
.Box2 {
  background-color: #fff;
  /*background-color: red;*/
  /*height: 600px;*/
  /*color: white;*/
}

.Grid_Container2 {
  /* this creates a grid   */
  display: grid;
  /* this creates columns   */
  /*grid-template-columns: auto 760px 500px;*/
  grid-template-columns: auto 660px 600px;
  /* this creates rows   */
  /*grid-template-rows: 1fr 1fr 1fr;%/
  /*  this adds a gap in between columns  */
  column-gap: 10px;
  justify-items: center;
}

/*Third para space assignment*/
/* This is the CSS for a grid container */
.Grid_Container3 {
  /* this creates a grid   */
  display: grid;
  /* this creates columns   */
  /*grid-template-columns: 1fr 1fr;*/
  grid-template-columns: auto 1200px;
  /* this creates rows   */
  /*grid-template-rows: 1fr 1fr 1fr;%/
  /*  this adds a gap in between columns  */
  column-gap: 5px;
  /* this adds a gap between rows   */
  /*row-gap: 15px;*/
}

.Grid_Container4 {
  /* this creates a grid   */
  display: grid;
  /* this creates columns   */
  /*grid-template-columns: 1fr 1fr;*/
  grid-template-columns: 520px 700px auto;
  /* this creates rows   */
  /*grid-template-rows: 1fr 1fr 1fr;%/
  /*  this adds a gap in between columns  */
  column-gap: 15px;
  /* this adds a gap between rows   */
  /*row-gap: 15px;*/
}
