/* When working with a chart that uses SVG. We can't use color and background-color properties */

.x_axis {
  fill: red;
}

/* This says pick all the paths with class domain that's inside of anything with the class x_axis */
.x_axis path.domain {
  /* make things disappear */
  display: none;
}

.y_axis path.domain {
  /* make things disappear */
  display: none;
}

/* Pick all the line elements inside of any group elements that have class "tick" and those are inside of anything with the class y_axis */
/* Pick all the lines inside of the tick areas that are in the y axis */
.y_axis g.tick line {
  stroke: #666;
  opacity: 0.75;
  stroke-dasharray: 4px 2px;
}

.x_axis g.tick line {
  stroke: #d2d3d4;
  opacity: 0.3;
}

.y_axis g.tick text {
  display: none;
}

.maxValue {
  fill: #f9423a;
}
