@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  background-color: #ffe0b3;
  font-family: "Inter", sans-serif;
  font-size: 20pt;
}

/*Main Header*/
#header1 {
  color: black;
  font-size: 24pt;
  font-weight: 400;
  /*text-align: center;*/
}

/*First Para Heading*/
#header2 {
  color: #333399;
  font-size: 24pt;
  font-weight: 400;
  /*text-align: center;*/
}

/*First Para Sub-Heading*/
#FPSubHdng {
  color: #333399;
  font-size: 9pt;
  font-weight: bold;
  text-align: center;
}

/*First para space assignment*/
/* This is the CSS for a grid container */
.Grid_Container1 {
  /* this creates a grid   */
  display: grid;
  /* this creates columns   */
  grid-template-columns: 1fr 1fr;
  /* this creates rows   */
  /*grid-template-rows: 1fr 1fr 1fr;%/
  /*  this adds a gap in between columns  */
  column-gap: 15px;
  /* this adds a gap between rows   */
  /*row-gap: 15px;*/
}

.Box1 {
  background-color: #ffe0b3;
  /*height: 1000px;*/
  /*color: white;*/
}

/*Second Para Heading*/
#header3 {
  color: #993333;
  font-size: 24pt;
  font-weight: 400;
  /*text-align: center;*/
}

/*First para space assignment*/
/* This is the CSS for a grid container */
.Grid_Container2 {
  /* this creates a grid   */
  display: grid;
  /* this creates columns   */
  grid-template-columns: 1fr 1fr 1fr;
  /* this creates rows   */
  /*grid-template-rows: 1fr 1fr 1fr;%/
  /*  this adds a gap in between columns  */
  column-gap: 15px;
  /* this adds a gap between rows   */
  /*row-gap: 15px;*/
}

.Box2 {
  background-color: #ffe0b3;
  /*height: 600px;*/
  /*color: white;*/
}

/*Third Para Heading*/
#header4 {
  color: #FF3333;
  font-size: 24pt;
  font-weight: 400;
  /*text-align: center;*/
}
/*general body text*/
#gnrlbdytxt {
  color: black;
  font-size: 9.5pt;
  font-weight: 400;
  /*text-align: center;*/
}

/*by-line and reference*/
#byline {
  color: black;
  font-size: 6pt;
  font-weight: 400;
  /*text-align: center;*/
}

.HLine1 {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #333399;
    margin: 1em 0;
    padding: 0;
}