@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;700&display=swap');

body {
  background-color: #3e194f;
  font-family: 'Titillium Web', sans-serif;
  color: green;
  font-size: 22px;
  padding: 0px 40px;
}

h1 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  font-size: 70px;
  color: #fdbd10;
  line-height: 1.1;
  text-align: center;
  padding: 0px;
  margin: 10px 0px;
}

h2 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: #f1f1f2;
  line-height: 1.1;
  padding: 20px 0px 0px 0px;
}

p {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 200;
  font-size: 18px;
  color: #c5c5cf;
  line-height: 1.2;
  padding: 0px 0px 20px 0px;
}

/* Classes go here */

.face-match-image {
  max-width: 20%;
  min-width: 100px;
  height: auto;
}

.face-match-div {
  display: flex;
  align-content: center;
}

.flex-container {
  display: flex;
  /* height: 300px; */
  flex-direction: row;
  flex-wrap: no-wrap;
  /* align-items: stretch; */
  align-items: center;
  margin: 20px auto;
  padding: 0px;
  max-width: 1000px;
}

.flex-container-graphs {
  display: flex;
  /* height: 300px; */
  flex-direction: row;
  flex-wrap: wrap;
  /* align-items: stretch; */
  align-items: flex-end;
  margin: 20px 0px;
  padding: 0px;
}

.flex-container-item {
  margin: 0px;
  padding: 20px;
}

.footnote-font {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 200;
  font-size: 14px;
  color: #a6a8ab;
}

.image-grid {
  display: in-line-grid;
  grid-gap: 10px;
}

.image {
  width: 70%;
  height: auto;
}

.infographic-placeholder {
  height: 200px;
  background-color: red;
  color: black;
  margin: 10px 10px 10px 0px;
}

.purple-face-image {
  max-width: 200px;
  height: auto;
}

.yellow-standout {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  font-size: 28px;
  color: #fdbd10;
  text-align: center;
}

/* IDs go here */

#tagline {
  padding: 0px;
  margin: 10px 0px;
  font-weight: 400;
  text-align: center;
  font-size: 20px;
}

#yellow-number-standout {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  font-size: 70px;
  color: #fdbd10;
  text-align: center;
}

#yankee-graphic {
  max-width: 80%;
}
