@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;700&display=swap');

body{
  background-color: #3e194f;
  font-family: 'Titillium Web', sans-serif;
  color: green;
  font-size: 22px;
}

h1{
  font-family: 'Titillium Web', sans-serif;
  font-weight:700;
  font-size: 70px;
  color: #fdbd10;
  line-height: 1.1; 
}

h2{
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: #f1f1f2;
  line-height: 1.1;
}

p{
  font-family: 'Titillium Web', sans-serif;
  font-weight: 200;
  font-size: 18px;
  color: #f1f1f2;
  line-height: 1.2;
}

.infographic-placeholder{
  height: 200px;
  background-color: red;
  color: black;
  margin: 10px 10px 10px 0px;
}


.footnote-font{
  font-family: 'Titillium Web', sans-serif;
  font-weight: 200;
  font-size: 14px;
  color: #a6a8ab;
}

.yellow-standout{
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  font-size: 28px;
  color: #fdbd10;
  text-align: center;
}
#yellow-number-standout{
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  font-size: 70px;
  color: #fdbd10;
  text-align: center;
}