@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 18pt;
  padding: 20px 200px 20px 200px;
}

.placeholder {
  height: auto,auto;
}

.placeholder3 {
  background-color: white;
  height: 300px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 40px;
  padding-right: 3px;
}
.placeholder2 {
  /* background-color: cornflowerblue; */
  height: auto;
}


.grid_container1 {
  display: grid;
  /* use pixels! */
  grid-template-columns: 600px 200px;
  grid-template-rows: 350 px;
  column-gap: 5px;
  row-gap: 5px;
  /* this centers stuff */
  width: 800px;
  margin: 0 auto;
}

.group1 {
  grid-row-start: 1;
  grid-row-end: 3;
}
.group2 {
  align-self: top;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}

.group3 {
  align-self: top;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

.grid_container2 {
  display: grid;
  /* use pixels! */
  grid-template-columns: 550px 250px;
  grid-template-rows: 350px;
  column-gap: 5px;
  row-gap: 5px;
  /* this centers stuff */
  width: 800px;
  margin: 0 auto;
}

.group4 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.group5 {
  background-color: whitesmoke;
  align-self: center;
  grid-column-start: 2;
  grid-column-end: 3;
  padding-inline-start: 5px;
  padding-inline-end: 2px;
}

.grid_container3 {
  display: grid;
  grid-template-columns: 600px 200px;
  grid-template-rows: 250px;
  column-gap: 10px;
  width: 800px;
  margin: 0 auto;
}

.group6 {
  grid-column-start: 1;
  grid-column-end: 2;
  /* grid-row-start: 1;
  grid-row-end: 2; */
}

.group7 {
  align-self: center;
  grid-column-start: 2;
  grid-column-end: 3;
  height: 100px
  /* padding-inline-start: 10px;
  padding-inline-end: 10px; */
}

.dot_label_legend {
  display: flex;
  align-items: center;
}

h1 {
  font-size: 50pt;
  font-weight: 600;
  text-align: center;
}

h2 {
  font-size: 30pt;
  font-weight: 500;
}

h4 {
  font-size: 18pt;
  font-weight: 600;
  text-align: center;
  padding: 0px 60px 0px 60px;
}

h5 {
  font-size: 11pt;
  font-weight: 600;
}
h6 {
  font-size: 11pt;
  font-weight: 300;
}
p {
  font-size: 14pt;
  font-weight: 400;
}
li {
  font-size: 14pt;
  font-weight: 300;
}
strong,
b {
  font-weight: 800;
}
table {
  font-size: 11pt;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  text-align: left;
  padding: 6px;
}
/*modify barchart1 elements here*/
.barchart_y_axis path.domain {
  display: none;
}
.barchart_y_axis g.tick line {
  stroke: none;
} 
.barchart1_bar_text {
  font-size: 14px;
}
.stackedbarchart_y_axis path.domain {
  display: none;
}
.barchart_y_axis_text {
  font-size: 14px;
}
.stackedbarchart_y_axis_text {
  font-size: 14px;
}
.stackedbarchart_y_axis g.tick line {
  stroke: none;
}
.stackedbar_bar_text {
  font-weight:400;
}
.barchart2_bar_text {
  font-size: 14px;
}
.barchart2_text1 {
  font-size: 14px;
}
/* modify linechart elements here */

.x_axis path.domain {
  display: none;
}
.y_axis path.domain {
  display: none;
}
.y_axis g.tick text {
font-size: 12px;
}
.y_axis g.tick line {
  stroke: #d2d3d4;
  stroke-dasharray: 1px 3px;
}
.x_axis g.tick line {
  stroke: #d2d3d4;
  stroke-dasharray: 1px 3px;
}
.x_axis g.tick text{
  font-size: 12px;
}
.linechart1_title_text {
  font-size: 16px;
}
.linechart1_subtitle_text {
  font-size: 12px;
}
.linechart2_x_axis path.domain {
  display: none;
}
.linechart2_y_axis path.domain {
  display: none;
}
.linechart2_x_axis g.tick line {
  stroke: #d2d3d4;
  stroke-dasharray: 1px 3px;
}
.linechart2_y_axis g.tick line {
  stroke: #d2d3d4;
  stroke-dasharray: 1px 3px;
}
.linechart2_x_axis g.tick text {
  font-size: 12px;
}
.linechart2_y_axis g.tick text {
  font-size: 12px;
}
.linechart2_text1 {
  font-size: 12px;
}
.linechart2_text2 {
  font-size: 12px;
}
.linechart2_title_text {
  font-size: 16px;
}
.linechart2_subtitle_text {
  font-size: 12px;
}
.dot_label {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 5px;
}

.dot1 {
  background-color: #0e0933;
}
.label1 {
  color: #0e0933;
  font-size: 16px;
}
.dot2 {
  background-color: #60818e;
}
.label2 {
  color: #60818e;
  font-size: 16px;
}
.dot3 {
  background-color: #d48c78;
}
.label3 {
  color: #d48c78;
  font-size: 16px;
}
.dot4 {
  background-color: #93003a;
}
.label4 {
  color: #93003a;
  font-size: 16px;
}

/* Modify Pre-trial Map elements here */
.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

.legend {
	font-size: 14px;
  font-family: 'Proxima Nova', sans-serif;
}

.legend_title {
	font-size: 14px;
  font-family: 'Proxima Nova', sans-serif;
	font-weight: bold;
}
div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 100px;					
    height: auto;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: #fff;	
    border: 1px solid #969696;		
    border-radius: 8px;			
    pointer-events: none;			
}
