@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap');

html {
  padding: 10%;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  padding-left: 15px;
  padding-bottom: 0px;
  font-weight: bold;
}

h2 {
  padding-left: 15px;
  padding-top: 0px;
}

h3 {
  color: #083837;
}

.tealheader {
  background-color: #083837;
  color: white;
  padding-top: 3px;
  padding-bottom: 3px;
}

h4 {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 0px;
}
p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
}
.pparagraphs {
  line-height: 25px;
}

.pmultimples {
  padding-top: 0px;
  padding-left: 5%;
  padding-right: 5%;
}

.grid_contain_multiples {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 5%;
}
.multiples {
  background-color: #f6f0e0;
  /* height: 200px; */
}

.grid_contain_treescat {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  text-align: center;
}

img {
  max-width: 800px;
}

/* .light_blue_background {
  background-color: #d5f0ef;
  margin: auto;
} */

.timeline_container {
  /*   grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
  justify-items: center;
  text-align: center;
}

.timeline_date {
  background-color: #083837;
  color: white;
  font-size: 30px;
  margin: auto;
  width: 50%;
  height: 115%;
  padding-top: 1%;
}
.timeline_image {
  max-width: 50%;
  height: auto;
  text-align: center;
}
.timeline_text {
  width: 50%;
  margin: auto;
  text-align: center;
}
.timeline_p_text {
  text-align: left;
  line-height: 23px;
}

.triangle_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  text-align: left;
  column-gap: 7%;
}

.asian_description {
  max-width: 70%;
}

.triangle_image {
  max-width: 140%;
  height: auto;
  text-align: left;
}

.black_white_description {
  max-width: 70%;
}

/* CODE FOR SAT BAR CHART EDITS HERE */

.sat_bar {
  fill: #6bcfc5;
}

.sat_bar_y_axis path.domain {
  display: none;
}
.sat_bar_y_axis line {
  display: none;
}
.sat_bar_y_axis_text {
  fill: black;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

/* CODE For PIE CHART graphic  */
.piechart_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
}
.piechart_title {
  font-size: 19px;
}

/* CODE For Annual Income graphic  */
.annual_income {
  fill: #6bcfc5;
}